@font-face {
  font-family: "dumb-phone";
  src: url(dumb-phone.ttf);
}
@font-face {
  font-family: "UbuntuMono-Bold";
  src: url(UbuntuMono-Bold.ttf);
}
@font-face {
  font-family: "UbuntuMono-Regular";
  src: url(UbuntuMono-Regular.ttf);
}
html,
body {
  margin: 0;
  width: 100vw;
}

body {
  position: fixed;
  display: flex;
  height: 100%;
  font-family: sans-serif;
}
body ul {
  padding: 0;
  margin: 0;
}
body #nav-button,
body #navbar {
  background-color: #c0c0c0;
  font-weight: bold;
}
body #nav-button ul li,
body #navbar ul li {
  border-bottom: 2px solid black;
  border-right: 2px solid black;
  border-top: 2px solid white;
  border-left: 2px solid white;
}
body #nav-button {
  padding: 16px;
}
body #navbar ul li {
  padding: 16px;
  list-style-type: none;
  margin: 8px;
}
body #navbar ul li a {
  text-decoration: none;
  color: black;
  pointer-events: none;
}
body #navbar ul li:hover,
body #navbar ul li:active {
  background-color: #010082;
  color: white;
  cursor: pointer;
}
body #navbar ul li:hover a,
body #navbar ul li:active a {
  color: inherit;
}
body #content .pages {
  display: none;
  width: 100%;
  height: 100%;
}
body #content #home,
body #content #contact {
  background-color: #68805e;
  font-family: "dumb-phone";
  justify-content: center;
}
body #content #home #iminto,
body #content #home ul li,
body #content #contact #iminto,
body #content #contact ul li {
  text-shadow: 4px 4px rgba(0, 0, 0, 0.2);
}
body #content #home {
  display: flex;
  align-items: center;
}
body #content #home #iminto {
  color: #ffc20e;
}
body #content #home #nouns {
  color: white;
  padding: 8px;
  background-color: black;
}
body #content #about {
  background-color: #2C001E;
  flex-direction: column;
  font-family: "UbuntuMono-Regular";
  color: white;
}
body #content #about #user,
body #content #about #hostname {
  color: #88d332;
  font-family: "UbuntuMono-Bold";
}
body #content #about #dir {
  color: #6c9bb6;
}
body #content #about p {
  padding: 8px;
  margin: 0;
}
body #content #about #cmd {
  min-height: 3vh;
}
body #content #about #portfolio {
  overflow-y: auto;
}
body #content #contact {
  overflow-y: auto;
  align-items: center;
}
body #content #contact ul li {
  list-style-type: none;
  text-align: center;
}
body #content #contact ul li a {
  color: black;
  text-decoration: none;
}
body #content #contact ul li a:hover {
  color: white;
}
@media (max-width: 1200px) and (orientation: portrait) {
  body {
    flex-direction: column;
    font-size: 3vw;
  }
  body #nav-button {
    display: block;
  }
  body #navbar {
    display: none;
  }
  body #navbar,
  body #content {
    height: 100%;
  }
  body #content #about #cmd {
    min-height: 1vh;
  }
  body #content #about #portfolio {
    height: 80vh;
  }
  body #content #contact {
    font-size: 10vw;
  }
}
@media (max-width: 1200px) and (orientation: landscape) {
  body {
    flex-direction: column;
    font-size: 3vw;
  }
  body #nav-button {
    display: block;
  }
  body #navbar,
  body #content {
    height: 100%;
  }
  body #navbar {
    display: none;
  }
  body #content #about #portfolio {
    height: 50vh;
  }
}
@media (min-width: 1201px) {
  body {
    flex-direction: row;
    font-size: 2em;
  }
  body #nav-button {
    display: none;
  }
  body #navbar {
    font-size: 1vw;
    display: block;
    width: 30vw;
  }
  body #content {
    width: 70vw;
  }
  body #contact {
    font-size: 3em;
  }
  body #about {
    font-size: 1em;
  }
}/*# sourceMappingURL=style.css.map */